<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- 컴포넌트 스캔 -->
  <context:component-scan base-package="kr.ac.kopo" />

  <!-- M-03 소셜 로그인 OAuth2 키 (외부 설정, 없으면 무시) -->
  <context:property-placeholder location="classpath:oauth.properties"
                                ignore-resource-not-found="true"
                                ignore-unresolvable="true" />

  <!-- MVC 어노테이션 활성화 + 메시지 컨버터 -->
  <mvc:annotation-driven>
    <mvc:message-converters>
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
          <list><value>text/html; charset=UTF-8</value></list>
        </property>
      </bean>
      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
          <list>
            <value>text/html; charset=UTF-8</value>
            <value>application/json; charset=UTF-8</value>
          </list>
        </property>
      </bean>
    </mvc:message-converters>
    <!-- @AuthenticationPrincipal 파라미터 처리 (Spring Security) -->
    <mvc:argument-resolvers>
      <bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver" />
    </mvc:argument-resolvers>
  </mvc:annotation-driven>

  <!-- 정적 리소스 처리 -->
  <mvc:default-servlet-handler />
  <mvc:resources mapping="/resources/**" location="/resources/" />
  <!-- B-04 업로드 이미지 서빙 (디스크) -->
  <mvc:resources mapping="/upload/**" location="file:///D:/Serv/ServM/uploads/" />

  <!-- B-04 파일 업로드 리졸버 (Spring 6: Standard) -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

  <!-- A-04 방문자 집계 인터셉터 -->
  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**" />
      <mvc:exclude-mapping path="/resources/**" />
      <mvc:exclude-mapping path="/upload/**" />
      <ref bean="visitInterceptor" />
    </mvc:interceptor>
  </mvc:interceptors>

  <!-- JSP 뷰 리졸버 -->
  <mvc:view-resolvers>
    <mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
  </mvc:view-resolvers>

  <!-- Oracle DataSource -->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
    <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
    <property name="username" value="hr" />
    <property name="password" value="hr" />
    <property name="maxActive" value="20" />
    <property name="maxIdle" value="10" />
  </bean>

  <!-- MyBatis SqlSessionFactory -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml" />
    <property name="mapperLocations" value="classpath:config/sqlMap/**/*.xml" />
  </bean>

  <!-- MyBatis SqlSessionTemplate -->
  <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg ref="sqlSessionFactory" />
  </bean>

  <!-- Spring Security 설정 임포트 -->
  <import resource="classpath:config/spring/spring-security.xml" />

</beans>
